@import url(./variables.css);/* Importa as variáveis do arquivo variables.css */ 
@import url(./header.css); /* Importa os estilos para o Header */
@import url(./footer.css); /* Importa os estilos para o Footer */
@import url(./loginForm.css); /* Importa os estilos para o Formulario de Login */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    background-color: var(--main_color);
    color: var(--white);
    height: 70vh;
    padding: 20px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userButtons {
    border-bottom: 1px solid var(--white);
    max-width: 1200px;
    margin: 20px auto;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userButton {
    cursor: pointer;
    background-color: var(--white);
    color: var(--dark_color);
    text-decoration: none;
    width: 15vw;
    min-width: 200px;
    height: 10rem;
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 20px;
    margin: 0 20px;
    transition: 0.2s;
}

.userButton > img {
    height: 3rem;
}

.userButton > h3 {
    font-size: 1.5rem;
}

.userButton:hover {
    box-shadow: 0 3px 4px rgba(98, 98, 98, 0.437);
    transform: scale(1.1);
}

.userButton > img {
    width: 3rem;
}

@media only screen and (max-width: 780px) {

    .container {
        height: auto;
        display: block;
    }

    .userButtons {
        flex-direction: column;
    }

    .userButton {
        text-align: center;
        width: 100%;
        height: 100px;
        margin: 10px 0;
    }

    .userButton > img {
        height: 2rem;
    }

    .userButton:hover {
        box-shadow: 0 3px 4px rgba(98, 98, 98, 0.437);
        transform: scale(1.020);
    }
}