* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html {
    background-color:#77c286;
}

h1 {
    color: rgb(0, 0, 0);  
}

p{
    color: rgb(0, 0, 0);
}

a, a:hover, a:visited {
    color: unset;
    text-decoration: none;
}

.ifpe-logo-container{
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ifpe-logo-container img{
    width: 200px;
    height: 200px;
}

.ifpe-logo-container a{
    font-weight: 300;
}

.container{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form {
    border: 10px outset #529d54; /*borda*/
    border-radius: 5px; /*contorno da borda*/
    background-color: #529d54; /*fundo da classe selecionada*/
    width: 16rem; /*Largura da borda*/
    padding: 30px; /**/
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    gap: 20px;
    color: azure;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.278);
}

.form > a{
    color: aliceblue;
    font-size: small;
    transition: 0.2s;
}

.form > button{
    width: 75px;
    transition: 0.2s;
    border: 0px;
    border-radius: 5px;

}

.form > input{
    height: 30px;
    border-radius: 5px;
    border: 0px;
    text-indent: 10px;
}

.form > a:hover{
    transform: scale(1.1);

}

.form > button:hover{ /*Quando o mouse passar por cima oq está dentro da chave será aplicado  */
    border: 0ch;
    transform:scale(1.1);
}

footer{
    font-size: small;
}